.App {
  font-family: 'Roboto', 'Open Sans', sans-serif; 
  color: #191919;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #EBB290 0%, #fff 50%);
}

.text-center {
  text-align: center;
}

li {
  cursor: pointer;

  &.active {
    text-decoration: underline;
  }
}

a {
  color: #F78E69;
}

main {
  margin-bottom: 45rem;
}
nav {
  display: flex;
  min-height: 100vh;
}
.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-image {
  position: fixed;
  background-image: url('assets/background-image.jpg');
  background-size: cover;
  background-position: center;
  height: 85%;
  width: 90%;
  box-shadow: 1px 0px 5px rgba(0,0,0,.5);
  transition: width 2s ease-out, height 1s ease-out, opacity 1s;
  text-align: center;

  ion-icon {
    position: absolute;
    bottom: -50px;
    font-size: 35px;
    transition: opacity 1s ease-out;
  }

  &.scroll-position-1 {
    width: 75%;
  }
  &.scroll-position-2 {
    opacity: 0;
    height: 70%;
    width: 70%;
    pointer-events: none;
  }
}

.hero-text {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding: 1rem 1.4rem;
  background-color: #191919;
  background-color: #5D675B;
  height: 180px;
  width: 300px;
  margin-left: 10px;
  text-align: right;
  transition: transform 2s ease-out, opacity 1s;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 1rem;
  }
  p {
    opacity: .7;
  }

  &.scroll-position-2 {
    position: fixed;
  }
  &.scroll-position-3 {
    transform: translateY(-600px);
    opacity: 0;
    pointer-events: none;
  }
}

.inner-box {
  background: #191919;
  padding: 40px 20px;
  background-color: #ffae00;
  background-color: #F78E69;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(40px) translateX(10px);
}

.tab-content {
  padding: 1rem; 

  h1 {
    font-size: 3rem;
    margin-bottom: 22px;
  }
}
.project-example {

  &:not(:first-child) {

    margin: 3rem 0;
  }

  h2 {
    margin: 0;
  }

  img {
    width: 100%;
    transition: transform .5s ease, box-shadow .2s;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);

    &:hover {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
}

@media (min-width: 544px) {
  .hero-text {
    width: auto;
    margin-left: 3rem;
    margin-right: 6rem;

    h1 {
      font-size: 40px;
      letter-spacing: 4px;
      line-height: 2rem;
    }
  }

  .project-example {
    display: flex;
    align-items: center;
    line-height: 26px;

    h2 {
      font-size: 30px;
      line-height: 35px;
    }

    .left {
      margin-right: 2rem;
    }
    img {
      width: 600px;
      border-radius: 3px;
    }
  }

  .tab-content {
    margin: 0 3rem;

    &.contact {
      margin: 8em auto;
      width: 40%;
    }
    &.about {
      margin: 5rem auto;
      margin-right: 8rem;
      width: 40%;

      .link {
        margin-left: 1rem;
      }
    }
  }

  .link {
    font-size: 28px;
    min-width: 630px;
  }
}